header,footer {
    display: flex;
    font-size: 20px;
    background-color: rgb(84, 91, 97);
    color: white;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 50px;
   
}
.container{
    width: 100vw;
}
.content {
    display: flex;
    flex-shrink: 2;
    gap: 1rem;
    padding : 1rem;
    height : 50px;
}
.Main{
    display: flex;
    align-items: center;
    background-color: rgb(225, 225, 225);
    flex-grow: 2;
    padding-left: 10px;

}
.Sidebar{
    background-color: rgb(209, 209, 209);
    display: flex;
    padding-left: 10px;
    align-items: center;
    flex-grow:1;
}
@media(max-width:600px){
    .content{
        flex-direction: column;
        min-height: 50px;
        flex-grow: 1;
        height : 100px;  
    }
    .Main{
        flex-grow: 1;
    }
}
@media (min-width : 600px) and (max-width : 900px){
    .Main{
        flex-grow: 1;
    }
    .Sidebar{
        flex-grow: 1;
    }
}
